**/outflow/
*.lock
Ti375C529_devkit_esp32_wifi/work_pnr/Ti375C529_devkit.lbf
EfxSapphireHpSoc_slb/
**/outflow/
**/work_pnr/
**work_syn/
**work_pt/
*.bit
*.hex 
*.o
*.launch
**/output/
**/build/
build/*
